.startupbody {
	flex: 4;
}
.abc {
	margin: 2rem;
}

.startupName-header {
	display: inline-block;
	margin-bottom: 2rem;
	font-size: 70px;
	font-weight: 800;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: #030d24;
	text-shadow: 4px 4px 4px rgba(156, 132, 132, 0.3);

	padding: 10px;
	border-radius: solid 2px black;
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s ease-in-out;
}
.startupDetails {
	margin-left: 5%;
	margin-bottom: 5%;
}

.individual {
	display: flex;
	align-items: baseline;
}
.labe {
	font-weight: bold;
	font-size: 25px;
	font-family: "Times New Roman", Times, serif;
}
.data {
	margin-left: 40px;
	font-size: 23px;
	/* font-weight: bold; */
	font-family: "Times New Roman", Times, serif;
}
.individual:nth-child(1) .labe {
	margin-right: 67px; /* Customize margin for the second pair */
}
.individual:nth-child(3) .labe {
	margin-right: 30px; /* Customize margin for the second pair */
}

.individual:nth-child(4) .labe {
	margin-bottom: 2rem;
	margin-right: 65px; /* Customize margin for the third pair */
}
.individual:nth-child(5) .labe {
	margin-bottom: 2rem;
	margin-right: 97px;
}
.individual:nth-child(6) .labe {
	margin-right: 40px;
}
.individual:nth-child(7) .labe {
	margin-right: 75px;
}

.fundingDetails {
	margin-left: 5%;
}

.fundingDetails-header {
	font-family: "Times New Roman", Times, serif;
	font-size: 40px;
	font-weight: bolder;
	margin-bottom: 2rem;
}
.fund {
	display: flex;
}
.fundingDetails .fund:nth-of-type(1) .labe {
	margin-right: 47px;
}
.fundingDetails .fund:nth-of-type(2) .labe {
	margin-right: 23px;
}
.data.a {
	font-weight: bolder !important;
}

.upper-portion {
	display: flex;
}

.button-holder {
	margin-left: 40rem;
}

.btn.a {
	width: 200px;
	margin-bottom: 10px;
}
