.navbar-link{
  color:rgb(4, 27, 26) !important;
  text-decoration:solid;
  margin-right: 40px;
  font-weight: bold;
  font-size: large;
  margin-top: 10px;
  transition: color 0.3s ease !important;
  
}
.navbar-link:hover {
    color: rgb(141, 187, 54) !important;
  }
  .title{
    margin-left: 3rem;
  }

  .navigation-bar{
    background-color: rgb(245, 245, 245);
  }